{% extends 'bezoeker.html.twig' %}


{% block menu %}
    <li class="active"><a href="{{ path('homepage') }}">home</a></li>
    <li><a href="{{ path('kartactiviteiten') }}">aanbod</a></li>


    <li><a href="{{ path('registreren') }}">registreren</a></li>
    <li><a href="#">contact</a></li>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-4 hidden-xs">
            <div class="panel panel-primary">
                <div class="panel-heading">SODI SR4 Simply Stunning</div>
                <div class="panel-body">
                    <img class="img-responsive center-block" style="width:70%" src={{ asset('img/sodiLR4.png')}} />
                </div>
            </div>
        </div>
        <div class="col-sm-4 hidden-xs">
            <div class="panel panel-primary">
                <div class="panel-heading">SODI SR5 Comfort and Style</div>
                <div class="panel-body">
                    <img class="img-responsive center-block " style="width:70%" src={{ asset('img/sodiLR5.png')}} />
                </div>
            </div>
        </div>
        <div class="col-sm-4 hidden-xs">
            <div class="panel panel-primary">
                <div class="panel-heading">SODI 2DRIVE Dream Racer</div>
                <div class="panel-body">
                    <img class="img-responsive center-block " style="width:70%" src={{ asset('img/sodi2Drive.png')}} />
                </div>
            </div>
        </div>
    </div>

    <h4>Een schitterende sport </h4>

    Wil je met één of twee personen karten of ben je met een groep onder de 10 personen?
    Rij dan een Vrije Training. Een Vrije Training is een kart-heat (rit) van 15 minuten.
    Een Grand Prix of een Endurance race is leuk voor de echte kartfanaten, deze duren 60 min.
    Ervaar het ultieme racegevoel in een Kinder kart! Voor het karten krijgen kinderen (minimaal 8 jaar)
    eerst een briefing met een uitleg over de vlaggen en de werking van de kart.

    De karts hebben een 200 cc benzinemotor, zijn splinternieuw en voorzien van alle veiligheidsmaatregelen,
    zoals een rolbeugel en een 4-puntsgordel. Op de kartbaan rijden maximaal 14 karts.
    Let op, voor het karten zijn dichte schoenen verplicht. Tip: Karten met een korte broek is niet toegestaan.
    Wij hebben overalls ter beschikking, maar probeer indien mogelijk een lange broek aan te doen of mee te nemen.
{% endblock %}
